.tile{
    display: grid;
    width: 100px;
    height: 100px;
    place-content: center;
}
.black-tile{
    background-color: gray;
}
.white-tile{
    background-color: white;
}

.tile img{
    width: 80px;
}

.tile .chess-piece{
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: center;
}

.tile .chess-piece:hover{
    cursor: grab;
}
.tile .chess-piece:active{
    cursor: grabbing;
}